<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>RAJPUT</display-name>
	<welcome-file-list>

		<welcome-file>wp-content/Frontend/index.jsp</welcome-file>

	</welcome-file-list>

	<filter>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>com.controller.CacheControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>  <!-- Apply to all protected URLs -->
	</filter-mapping>


	<servlet>
		<servlet-name>Authcontroller</servlet-name>
		<servlet-class>com.controller.Authcontroller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Authcontroller</servlet-name>
		<url-pattern>/Authcontroller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Investorcontroller</servlet-name>
		<servlet-class>com.controller.Investorcontroller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Investorcontroller</servlet-name>
		<url-pattern>/Investorcontroller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ideapersoncontroller</servlet-name>
		<servlet-class>com.controller.Ideapersoncontroller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ideapersoncontroller</servlet-name>
		<url-pattern>/Ideapersoncontroller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ideapostcontroller</servlet-name>
		<servlet-class>com.controller.Ideapostcontroller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ideapostcontroller</servlet-name>
		<url-pattern>/Ideapostcontroller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Feedbackcontroller</servlet-name>
		<servlet-class>com.controller.Feedbackcontroller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Feedbackcontroller</servlet-name>
		<url-pattern>/Feedbackcontroller</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>

	<context-param>
		<param-name>user</param-name>
		<param-value>swapportalsry@gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>pass</param-name>
		<param-value>swapportal@7871</param-value>
	</context-param>
</web-app>